[[resolvers]]
provider = "openrouter"
api_url = "https://openrouter.ai/api/v1"
api_key = "your_key"
model_name = "deepseek/deepseek-r1-distill-qwen-1.5b"

[[resolvers]]
provider = "ollama"
api_url = "http://localhost:11434"
api_key = "_"
model_name = "llama3.2"

